@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --font-weight-normal: 400;
        --font-weight-bold: 600;
        --font-weight-black: 700;

        --colors-neutral-50: #fafaf9;
        --colors-neutral-100: #f5f5f4;
        --colors-neutral-200: #e7e5e4;
        --colors-neutral-300: #d6d3d1;
        --colors-neutral-400: #a8a29e;
        --colors-neutral-500: #78716c;
        --colors-neutral-600: #57534e;
        --colors-neutral-700: #44403c;
        --colors-neutral-800: #292524;
        --colors-neutral-900: #1c1917;
        --colors-neutral-950: #0c0a09;

        --colors-white: #ffffff;
        --colors-black: var(--colors-neutral-900);

        --colors-bg-canvas: var(--colors-white);
        --colors-bg-surface: var(--colors-white);
        --colors-bg-subtle: var(--colors-neutral-50);
        --colors-bg-muted: var(--colors-neutral-100);
        --colors-fg: var(--colors-neutral-900);
        --colors-fg-emphasized: var(--colors-neutral-700);
        --colors-fg-muted: var(--colors-neutral-600);
        --colors-fg-subtle: var(--colors-neutral-500);
        --colors-fg-faded: var(--colors-neutral-400);
        --colors-fg-inverted: var(--colors-white);
        --colors-border: var(--colors-neutral-200);
        --colors-border-emphasized: var(--colors-neutral-300);
    }

    @media (prefers-color-scheme: dark) {
        :root {
            --font-weight-normal: 300;
            --font-weight-bold: 500;
            --font-weight-black: 600;

            --colors-bg-canvas: var(--colors-neutral-950);
            --colors-bg-surface: var(--colors-neutral-900);
            --colors-bg-subtle: var(--colors-neutral-800);
            --colors-bg-muted: var(--colors-neutral-700);
            --colors-fg: var(--colors-white);
            --colors-fg-emphasized: var(--colors-neutral-200);
            --colors-fg-muted: var(--colors-neutral-300);
            --colors-fg-subtle: var(--colors-neutral-400);
            --colors-fg-faded: var(--colors-neutral-500);
            --colors-fg-inverted: var(--colors-neutral-950);
            --colors-border: var(--colors-neutral-800);
            --colors-border-emphasized: var(--colors-neutral-700);
            --colors-border-active: var(--colors-neutral-600);
        }
    }
}


* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

[type='text']:focus, [type='email']:focus, [type='url']:focus, [type='password']:focus, [type='number']:focus, [type='date']:focus, [type='datetime-local']:focus, [type='month']:focus, [type='search']:focus, [type='tel']:focus, [type='time']:focus, [type='week']:focus, [multiple]:focus, textarea:focus, select:focus {
    border-color: unset;
}

html, body {
    min-height: 100vh;
    touch-action: pan-x pan-y;
}

.material-icon {
    font-family: 'Material Symbols Sharp';
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: flex;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    font-variation-settings: 'FILL' 1, 'wght' 600;
}
